@charset "utf-8";
/* CSS Document */

/* Page Layout */

body, html {
	font-size: 12px;	
	background-image: url(../images/lt-wood-bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 100%;
}

.row {
	margin: 0;	
}

#wrapper {
	height: auto;
	min-height: 100%;
	width: 100%;
	background-image: url(../images/bottom-border.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;	
}

#row1 {
	background-image: url(../images/top-border.jpg);
	background-repeat: repeat-x;
	padding-top: 40px;
}

#row2 {
	min-height: 400px;	
	margin-left: 10px;
}

.picright {
	float: right;
	margin: 8px;	
}

.picleft {
	float: left;
	margin: 8px;	
}


/* Interface Fixes */

::-webkit-scrollbar { /* scrollbar fixes */
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*:focus { /* stop chrome border when clicking buttons */
    outline: 0;
}


/* Master Styles */

.hidden {
	display: none;
}

.clearboth {
	clear: both;	
}

pre {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	white-space: pre-wrap;
  	word-break: normal;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

button {
	background-color: #ccc;	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
	border: none;
}

button:hover {
	background-color: #999;	
}

.buybuttons {
	float:right;	
}


/* Container Divs */

#logo {
	margin: 0 0 10px 40px;	
}

#logo a, #logo a:focus {
	outline: 0;
}

#pointerarrow {
	width: 50px;
	height: auto;	
}

.modal-body strong {
	color: #000;	
}

.researchbtn {
	margin-top: 80px;	
}

#click {
	height: 60px;
	width: 300px;
	margin: 15px 300px 0 0;
	font-size: 20px;
	border: 4px outset buttonface;
}

button#click:active {
	background-color: #515252
}

#mainui {	
	padding-left: 0;
	padding-right: 0;
	box-shadow: 3px 1px 3px #888888;
}

#mainui h2, #rightui h2 {
	font-size: 18px;
	margin-top: 0;	
}

.infowindow {
	padding: 20px 10px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 340px;
	background-color: #fff;
}

#rtinfowindow {
	padding: 20px 10px;	
}

#newslogwrapper {
	width: 100%;
	height: 380px;
	overflow-y: auto;
	float: left;
	box-shadow: 3px 1px 3px #888888;
}

#newslog {
	height: 100%;
	width: 100%;
	padding: 50px 10px 0 20px;
	background-color: #fff;
}

#rightui {
	background-color:#fff;
	margin-right: 10px;
    height: 379px;
	box-shadow: 3px 1px 3px #888888;	
}


/* Corp Nav */

#corpnav {
	float: right;
	margin-top: 60px;
}

#corpnav ul {
	list-style: none;
	float: right;
	margin: 0 20px 5px 0;	
}

#corpnav li {
	float: left;
	margin: 10px 10px 5px 10px;	
}

#autosavenote {
	display: none;	
}


/* Main Tab Navigation */

#tablabels {
	background-color: #CCC;
	height: 40px;	
}

#tablabels ul {
	list-style: none;
	padding-left: 2px;
	padding-top: 10px;	
}

#tablabels ul li {
	border-right: #e5e5e5 thin solid;	
	display: inline;
}

#tablabels ul li a {
	color: #000;
	text-decoration: underline;	
	padding: 5px 23px 15px 23px;
	cursor: pointer;
}

#tablabels ul li.last {
	border-right: none;	
}

#tablabels ul li a.active {
	background-color: #fff;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontent.hide {
	display: none;	
}


/* Right Tab Navigation */

#righttablabels {
	background-color: #CCC;
	height: 40px;	
}

#righttablabels ul {
	list-style: none;
	padding-left: 2px;
	padding-top: 10px;	
}

#righttablabels ul li {
	display: inline;
	border-right: #e5e5e5 thin solid;
}

#righttablabels ul li a {
	color: #000;
	text-decoration: underline;	
	padding: 5px 15px 15px 15px;
	cursor: pointer;
}

#righttablabels ul li a.active {
	background-color: #fff;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#righttablabels ul li.last {
	border-right: none;	
}


/* Resource List Interface */

#resourcestable {
	width: 100%;	
}

#resourcestable tr {
	background-color: #e5e5e5;
	padding: 2px 5px;	
}

tr.resourcerows {
	background-color: #e5e5e5;
}

td.rsrcname {
	width:70%;	
}

td.rsrcbuttons {
	width:30%;
	text-align:right;	
}

#resourcestable tr.unshaded {
	background-color: #fff;	
}

#resourcestable td.first {
	width: 80%;	
}

.resourcename {
	background-color: #ccc;
	cursor: text;
	text-decoration: none;
	color: #000;
}

a.resourcename:hover {
	text-decoration: none;
	color: #000;	
}

.desc-top {
	visibility: hidden;	
	color: #999;	
}

.desc-triangle {
	float: left;
	margin: 4px 5px 0 20px;	
}


/* ************************************ */
/* ***********MEDIA QUERIES************ */
/* ************************************ */

/* xs size */
@media only screen
and (min-width: 0px)
and (max-width: 768px) {
	
body {
	overflow-x: hidden;		
}
	
#row1 {
	padding-top: 25px;		
}

#logo {
	text-align: center;	
	margin: 0;
}

.gearlogo {
	height: 150px;
	width: auto;	
}

#pointerarrow {
	margin-top: 75px;	
}

#click {
	width: 100%;
	height: 45px;
    font-size: 18px;	
}

.researchbtn {
	margin-top: 0;	
}

#corpnav {
	margin-top: 10px;	
}

#newslogwrapper {
	float: none;
	height: 120px;	
}

#newslog {
	padding-top: 20px;	
}

#tablabels ul li a {
	padding: 5px 7px 15px 7px;
}

#righttablabels ul li a {
	    padding: 5px 4px 15px 4px;
}

td.rsrcname {
	width:50%;	
}

td.rsrcbuttons {
	width:50%;	
}

.infowindow {
	height: 250px;	
}

#rightui {
	margin-right: 0;
	height: 170px;	
}

#rtinfowindow {
    padding: 15px 10px 0 10px;
}

#rtinfowindow .panel {
	margin-bottom: 0;	
}
	
}

/* sm size */
@media only screen
and (min-width: 768px)
and (max-width: 992px) {
	
body {
	overflow-x: hidden;		
}
	
#row2 {
	margin-left: 0;	
}
	
#click {
	width: 100%;	
}

#corpnav li {
	margin: 10px 5px 5px 5px;
}

#newslogwrapper {
	height: 270px;	
}

#rightui {
	margin-right: 0;
	height: 200px;
}

.infowindow {
	height: 230px;	
}

}

/* md size */
@media only screen
and (min-width: 993px)
and (max-width: 1200px) {
	
#corpnav li {
	margin: 10px 5px 5px 5px;
}
	
#newslogwrapper {
	height: 290px;	
}
	
.infowindow {
	height: 250px;	
}

#rightui {
	margin-right: 0;
	height: 200px;	
}

}

/* lg size */
@media only screen
and (min-width: 1200px) {
	
}