<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="game">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" /> <!-- allow removing outlines in IE9 -->
<title>For Science!</title>

<link rel="icon" 
      type="image/png" 
      href="images/favicon.png" />
      
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>


</head>

<body ng-controller="GameController as gameCtrl">
<div id="wrapper">

	<div id="row1">
    	<div class="col-md-6">
        	<div id="logo">
            	<a href="#" data-toggle="modal" data-target="#gameintro" id="logoimg"><img src="images/logo.png" border="0" /></a>
            </div><!-- end logo -->
        </div>
        
        <!-- Modal -->
        <div id="gameintro" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">For Science!</h4>
              </div>
              <div class="modal-body">
                <p>How far are you willing to go for science?</p>
                <p>Welcome to the department. You'll be managing a team of scientists, each a specialist in their own field. What, you'd like to meet them? This isn't social hour! Click that <strong>Conduct Research</strong> button and get to work!</p>
              </div>
              <div class="modal-footer">
                <div id="modalclosebtn"></div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
        	<div id="corpnav">
            	<ul>
                	<li><span id="autosavenote">autosaving...</span></li>
                	<li><a href="#" id="savegame">Save</a></li>
                    <li><a href="#" id="resetgame">Reset</a></li>
                    <li>Reddit</li>
                    <li>Version 0.1</li>
                </ul>
            </div>
        	<button id="click" ng-click="gameCtrl.clickResearch(1)">Conduct Research</button>
        </div>
    <div class="clearboth"></div>
    </div><!-- end row1 -->
    <div class="clearboth"></div>
    <div id="row2">      
    	<div class="col-md-7" id="mainui" ng-controller="TabController as tabCtrl">
        	<div id="tablabels">
                <ul id="tabs">
                    <li id="mainlabel"><a ng-click="tabCtrl.selectTab(1)" ng-class="{active:tabCtrl.isSelected(1)}">Main</a></li>
                    <li id="anilabel"><a ng-click="tabCtrl.selectTab(2)" ng-class="{active:tabCtrl.isSelected(2)}">Ani</a></li>
                    <li id="kokolabel"><a ng-click="tabCtrl.selectTab(3)" ng-class="{active:tabCtrl.isSelected(3)}">Koko</a></li>
                    <li id="meinalabel"><a ng-click="tabCtrl.selectTab(4)" ng-class="{active:tabCtrl.isSelected(4)}">Meina</a></li>
                    <li id="sirinlabel"><a ng-click="tabCtrl.selectTab(5)" ng-class="{active:tabCtrl.isSelected(5)}">Sirin</a></li>
                    <li id="touriklabel" class="last"><a ng-click="tabCtrl.selectTab(6)" ng-class="{active:tabCtrl.isSelected(6)}">Tourik</a></li>
                 </ul>
        	</div>
            <div class="infowindow">
            	<div id="maintab" class="tabcontent panel" ng-show="tabCtrl.isSelected(1)">
                	<div id="total_research">Research: <span id="totalresearch">{{gameCtrl.resources.research}}</span> / 0</div>
                    <div id="research_per_second">Research per second: <span>{{gameCtrl.resources.programs.amount}}</span> <button ng-click="gameCtrl.buyProgram(1)">BUY</button></div>
                    <div id="resourcelooping"></div>
                </div><!-- end maintab --> 
                
                <div id="anitab" class="tabcontent panel" ng-show="tabCtrl.isSelected(2)">
                	<p>this is ani's tab</p>
                </div><!-- end anitab -->
                
                <div id="kokotab" class="tabcontent panel" ng-show="tabCtrl.isSelected(3)">
                	<p>this is koko's tab</p>
                </div><!-- end kokotab -->
                
                <div id="meinatab" class="tabcontent panel" ng-show="tabCtrl.isSelected(4)">
                	<p>this is meina's tab</p>
                </div><!-- end meinatab -->
                
                <div id="sirintab" class="tabcontent panel" ng-show="tabCtrl.isSelected(5)">
                	<p>this is sirin's tab</p>
                </div><!-- end sirintab -->
                
                <div id="touriktab" class="tabcontent panel" ng-show="tabCtrl.isSelected(6)">
                	<p>this is tourik's tab</p>
                </div><!-- end touriktab -->
            </div><!-- end infowindow -->

        </div><!-- end mainui and row2col1 -->
        
        <div class="col-md-5">
        	<div id="newslogwrapper">
            	<div id="newslog">You are a scientist</div>
        	</div><!-- end newslogwrapper -->
        </div><!-- end row2col2 -->
        
    </div><!-- end row2 -->
    
	<div id="row3">
    	<div id="lowertablabels">
        	<ul>
            	<li class="upgrades">Upgrades</li>
                <li>Collaborations</li>
                <li class="last">RAs</li>
            </ul>
        </div><!-- end lowertablabels -->
        
        <div id="lowerui">
            <p><strong>Upgrades</strong></p>
            <button id="programminglvl2">Attend programming conference</button>
        </div><!-- end lowerui -->
    </div><!-- end row3 -->
    
</div><!-- end wrapper -->
<script type="text/javascript" src="scripts/game.js"></script>
<script type="text/javascript" src="scripts/modal.js"></script>
</body>
</html>
