<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9" /> <!-- allow removing outlines in IE9 -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>For Science!</title>

<link rel="icon" 
      type="image/png" 
      href="images/favicon.png" />
      
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/ngStorage.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87059912-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body ng-controller="GameController as gameCtrl">
<div id="wrapper">
	<div id="row1bg">
        <div class="row" id="row1">
            <div class="col-sm-4">
                <div id="logo">
                    <a href="#" data-toggle="modal" data-target="#gameintro" id="logoimg" ng-click="gameCtrl.saved.logoPristine = false"><img src="images/logo.png" class="gearlogo" border="0" /><img src="images/redone-arrow.gif" ng-show="gameCtrl.saved.logoPristine" id="pointerarrow" /></a>
                </div><!-- end logo -->
            </div>
            
             <!-- Logo Modal -->
             <div ng-include="'includes/logo-modal.html'"></div>
               
            
            <div class="col-sm-4">
                <div class="researchbtn">
                    <button id="click" ng-click="gameCtrl.clickResearch(1,'tutorial')" ng-show="gameCtrl.saved.indivStudyEvent.visible"><i class="fa fa-flask"></i> Conduct Research</button>
                    <div ng-hide="gameCtrl.saved.indivStudyEvent.visible" ng-cloak>
                        <h3 class="indivConduct">Conduct Research</h3>
                        <button class="clicksm" ng-click="gameCtrl.clickResearch(1,'ani')"><i class="fa fa-flask"></i> A</button>
                        <button class="clicksm" ng-click="gameCtrl.clickResearch(1,'koko')"><i class="fa fa-cogs"></i> K</button>
                        <button class="clicksm" ng-click="gameCtrl.clickResearch(1,'meina')"><i class="fa fa-bomb"></i> M</button>
                        <button class="clicksm" ng-click="gameCtrl.clickResearch(1,'sirin')"><i class="fa fa-heartbeat"></i> S</button>
                        <button class="clicksm" ng-click="gameCtrl.clickResearch(1,'tourik')"><i class="fa fa-wpexplorer"></i> T</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div id="corpnav">
                      <ul>
                          <li><span class="autosave" ng-show="gameCtrl.togglefade">autosaving...</span></li>
                          <li><a ng-click="gameCtrl.resetGame()" id="resetgame">Reset</a></li>
                          <li><a href="https://github.com/magpie5017/ForSciencewithAngular" target="_blank">Github</a></li>
                          <li>v0.4.5</li>
                      </ul>
                </div>
            </div>
        </div><!-- /row1 -->
    </div><!-- /row1bg -->
    
    <div class="row" id="row2">
        <div class="col-sm-3">
            <div id="newslogwrapper">
                  <div id="newslog">
                      <pre>{{gameCtrl.saved.newslog}}</pre>
                  </div>
              </div><!-- end newslogwrapper -->
        </div>
        
        <div class="col-sm-9 col-lg-5">
            <div id="mainui" ng-controller="TabController as tabCtrl">
                <div id="tablabels">
                    <ul id="tabs">
                        <li id="mainlabel"><a ng-click="tabCtrl.selectTab(1)" ng-class="{active:tabCtrl.isSelected(1)}">Main</a></li>
                        <li id="anilabel"><a ng-click="tabCtrl.selectTab(2)" ng-class="{active:tabCtrl.isSelected(2)}">Ani</a></li>
                        <li id="kokolabel"><a ng-click="tabCtrl.selectTab(3)" ng-class="{active:tabCtrl.isSelected(3)}">Koko</a></li>
                        <li id="meinalabel"><a ng-click="tabCtrl.selectTab(4)" ng-class="{active:tabCtrl.isSelected(4)}">Meina</a></li>
                        <li id="sirinlabel"><a ng-click="tabCtrl.selectTab(5)" ng-class="{active:tabCtrl.isSelected(5)}">Sirin</a></li>
                        <li id="touriklabel" class="last"><a ng-click="tabCtrl.selectTab(6)" ng-class="{active:tabCtrl.isSelected(6)}">Tourik</a></li>
                     </ul>
                </div>
                <div class="infowindow">
                    <div id="maintab" class="tabcontent panel" ng-show="tabCtrl.isSelected(1)">
                    	<div ng-hide="gameCtrl.saved.indivStudyEvent.visible" ng-include="'includes/main-chart.html'"></div>
                        <div ng-show="gameCtrl.saved.indivStudyEvent.visible" ng-include="'includes/tutorial-chart.html'"></div>
                    </div><!-- end maintab --> 
                    
                    <div id="anitab" class="tabcontent panel" ng-show="tabCtrl.isSelected(2)">
                        <div ng-include="'includes/ani-chart.html'"></div>
                        <div class="clearboth"></div>
                    </div><!-- end anitab -->
                    
                    <div id="kokotab" class="tabcontent panel" ng-show="tabCtrl.isSelected(3)">
                    	<div ng-include="'includes/koko-chart.html'"></div>
                        <div class="clearboth"></div>
                    </div><!-- end kokotab -->
                    
                    <div id="meinatab" class="tabcontent panel" ng-show="tabCtrl.isSelected(4)">
                        <div ng-include="'includes/meina-chart.html'"></div>
                        <div class="clearboth"></div>
                    </div><!-- end meinatab -->
                    
                    <div id="sirintab" class="tabcontent panel" ng-show="tabCtrl.isSelected(5)">
                        <div ng-include="'includes/sirin-chart.html'"></div>
                        <div class="clearboth"></div>
                    </div><!-- end sirintab -->
                    
                    <div id="touriktab" class="tabcontent panel" ng-show="tabCtrl.isSelected(6)">
                        <div ng-include="'includes/tourik-chart.html'"></div>
                        <div class="clearboth"></div>
                    </div><!-- end touriktab -->
                </div><!-- end infowindow -->
            </div>
        </div>
        
        <div class="col-sm-12 col-md-9 col-lg-4 col-md-offset-3 col-lg-offset-0">
            <div id="rightui" ng-controller="RtTabController as rttabCtrl">
                <div id="righttablabels">
                    <ul>
                        <li class="upgrades"><a ng-click="rttabCtrl.selectTab(1)" ng-class="{active:rttabCtrl.isSelected(1)}">Breakthroughs</a></li>
                        <li><a ng-click="rttabCtrl.selectTab(2)" ng-class="{active:rttabCtrl.isSelected(2)}">Events</a></li>
                        <li class="last"><a ng-click="rttabCtrl.selectTab(3)" ng-class="{active:rttabCtrl.isSelected(3)}">Achievements</a></li>
                    </ul>
                </div><!-- end lowertablabels -->
                
                <div id="rtinfowindow">
                    <div id="bttab" class="tabcontent panel" ng-show="rttabCtrl.isSelected(1)">
                        <h2>Upgrades</h2>
                        <p><button ng-show="gameCtrl.saved.programsLvl1Event.visible" ng-click="gameCtrl.programsLvl1Activate()" ng-mouseenter="gameCtrl.hoverDesc('programsLvl1Event','visible')" ng-mouseleave="gameCtrl.hoverDesc('programsLvl1Event','hidden')">{{gameCtrl.saved.programsLvl1Event.name}}</button></p>
                        <p ng-show="gameCtrl.programsLvl1Eventmaindesc">&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{gameCtrl.saved.programsLvl1Event.desc}} Cost: {{gameCtrl.saved.programsLvl1Event.cost}} {{gameCtrl.saved.programsLvl1Event.costName}}</p>
                        <p><button data-toggle="modal" data-target="#indivstudy" data-backdrop="static" data-keyboard="false" ng-show="gameCtrl.saved.indivStudyEvent.visible" ng-mouseenter="gameCtrl.hoverDesc('indivStudyEvent','visible')" ng-mouseleave="gameCtrl.hoverDesc('indivStudyEvent','hidden')">{{gameCtrl.saved.indivStudyEvent.name}}</button></p>
                        <p ng-show="gameCtrl.indivStudyEventmaindesc">&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right"></i> {{gameCtrl.saved.indivStudyEvent.desc}} Requirement: {{gameCtrl.saved.indivStudyEvent.cost}} {{gameCtrl.saved.indivStudyEvent.costName}}</p>
                        <h2>Collaborations</h2>
                        <h2>Research Assistants</h2>
                    </div><!-- end upgradetab -->
                    
                    <div id="eventtab" class="tabcontent panel" ng-show="rttabCtrl.isSelected(2)">
                        <h2>Events</h2>
                        <h2>Free Time</h2>
                        <h2>Awards</h2>
                    </div><!-- end collabtab -->
                    
                    <div id="achievetab" class="tabcontent panel" ng-show="rttabCtrl.isSelected(3)">
                        <h2>Achievements</h2>
                        <div class="col-xs-7 col-md-6 col-lg-7">
                            <p><i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 1')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 2')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 3')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 4')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 5')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 6')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 7')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 8')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 9')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i>
                            <i class="fa fa-trophy fa-2x" ng-mouseenter="gameCtrl.setAchieveDesc('Achievement 10')" ng-mouseleave="gameCtrl.setAchieveDesc('')"></i></p>
                        </div>
                        <div class="col-xs-5 col-md-6 col-lg-5" id="achievedesc">
                        	<p>&nbsp;{{gameCtrl.achieveDesc}}</p>
                        </div>
                        <div class="clearboth"></div>
                    </div><!-- end achievetab -->
                </div><!-- end rtinfowindow -->
                
                <!-- Indiv Study Modal -->
         	<div ng-include="'includes/study-modal.html'"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="scripts/modal.js"></script>

<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/factories/d3-factory.js" ></script>
<script type="text/javascript" src="scripts/controllers/tab-controllers.js"></script>
<script type="text/javascript" src="scripts/controllers/game-controller.js"></script>
<script type="text/javascript" src="scripts/directives/d3-directive.js" ></script>
<script type="text/javascript" src="scripts/filters/filters.js"></script>
</body>
</html>
