<div class="col-md-8 col-lg-9">
    <h2>Koko: Cognitive Robotics</h2>
    <div class="indivtable" ng-hide="gameCtrl.saved.indivStudyEvent.visible">
        <div id="total_research">Research: <span id="totalresearch">{{gameCtrl.saved.koko.research}}</span> / {{gameCtrl.saved.koko.cabinets.modifier * gameCtrl.saved.koko.cabinets.amount}}</div>                 
        <div id="resourcewrapper">
            <div id="resourcelooping">
                <table width="100%">
                    <tr class="resourcerows" ng-repeat-start="resrs in gameCtrl.saved.koko" ng-if="resrs.amount !== undefined">
                        <td class="rsrcname">{{resrs.name|capitalize}}: {{resrs.amount}}</td>
                        <td class="rsrcbuttons"><button ng-repeat="count in gameCtrl.buyCounts" ng-click="gameCtrl.buyResource(resrs.name,count,'koko')" ng-mouseenter="gameCtrl.hoverCost(resrs.name,'visible',count)" ng-mouseleave="gameCtrl.hoverCost(resrs.name,'hidden')">{{count}}</button></td>
                    </tr>
                    <tr ng-repeat-end ng-if="resrs.amount !== undefined">
                        <td class="rsrcdesc" colspan="2">&nbsp;&nbsp;&nbsp;<span ng-show="gameCtrl.{{resrs.name}}cost"><i class="fa fa-caret-right"></i> Cost: {{resrs.cost * gameCtrl.countCheck}} {{resrs.costName}}</span></td>
                    </tr>
                </table>
            </div>
        </div><!-- /resourcewrapper -->
    </div>
    <p>Developing AI and specific-task machinery. Specializes in small robotics.</p>
    <p>A chronic prankster, Koko is a brilliant researcher, but her breakthroughs are often offset by procrastination.</p>
    
    <p ng-show="gameCtrl.saved.indivStudyEvent.visible">{{tabCtrl.indivStudy}}</p>
</div>
<div class="col-md-4 col-lg-3">
    <img src="images/kokopic.jpg" class="picright" />
    <div id="kokochartwrapper" class="radarchart">
        <d3-lines char="koko" ng-cloak></d3-lines>
    </div>
</div>
                        
    

